Thank You <%= @user.name %>,
<br/>
For forming your business entity with CampusWise!
<br/>
Please review all your information below.
<br/>

<h1 style="color: blue">Business Information</h1>
<br/>
<p>
  <b> Business name:</b>
  <%= @business.name %>
</p>
<p>
  <b>First alternate name:</b>
  <%= @business.alternative_name_1 %>
</p>

<p>
  <b>Second alternate name:</b>
  <%= @business.alternative_name_2 %>
</p>

<br/>
<p><b><u>Business address</u></b></p>
<p>
  <b>Street:</b>
  <%= @business.street %>
</p>

<p>
  <b>City:</b>
  <%= @business.city %>
</p>

<p>
  <b>County:</b>
  <%= @business.county %>
</p>

<p>
  <b>State:</b>
  <%= @business.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @business.zip %>
</p>
<br/>
<p>
  <b>Professional license:</b>
  <%= @business.professional_license == true ? "Yes" : "No" %>
</p>

<p>
  <b>Registered agent name:</b>
  <%= @business.registered_agent_name %>
</p>

<% if @business.registered_agent_type == "custom" %>
  <p>
    <b>Registered agent address:</b>
    <%= @business.registered_agent_address %>
  </p>
<% end %>
<br/>
<br/>
<h1 style="color: blue">Ownership, Management and Transfers</h1>
<br/>
<p>
  <b>Ownership:</b>
  <%= @business.ownership %>
</p>

<p>
  <b>Management/Officers:</b>
  <%= @business.officers %>
</p>

<p>
  <b>Transfer of ownership:</b>
  <%= @business.transfer_of_ownership %>
</p>

<%#*<p>%>
<%#*<b>Internal Revenue Service Responsible Party:</b>%>
<%#= @business.internal_revenue %>
<%#*</p>%>

<%#*<p>%>
<%#*<b>Social Security Number:</b>%>
<%#= @business.ssn %>
<%#*</p>%>

<%#*<p>%>
<%#*<b>Tax Matters Member:</b>%>
<%#= @business.tax_manager %>
<%#*</p>%>
<br/>
<br/>

<h1 style="color: blue">Business Details</h1>
<br/>
<p>
  <b>Business type:</b>
  <%= @business.business_type %>
</p>

<p>
  <b>Business activity details:</b>
  <%= @business.business_activity %>
</p>
<br/>
<br/>
<p>
  <b style="color: green">Phone consultation:</b>
  <%= @business.phone_consultation == true ? "No" : "Yes" %>
</p>
<br/>
<br/>
