Hello <%= @user.name %>,<br/>
<br/>
Congratulation,<br/>
You have successfully <%= @exchange.package == "buy" ? "sold" : "lend" %> the book titled : " <%= @book.title %>" and payment amount of <%= number_to_currency(@exchange.amount.to_f, :prescision => 2)  %> was charged from <%= @exchange.package == "buy" ? "buyer's" : "borrower's" %> account.<br/>
<br/>
Here is your summary:
<br/>
<ul>
  <li>Book title : <%= @book.title %></li>
  <li>Book publisher : <%= @book.publisher %></li>
  <li>Book authors : <%= @book.author %></li>
  <li>Book ISBN : <%= @book.isbn %></li>
  <% unless @exchange.package == "buy" %>
    <li>Book rented in : <%= @exchange.package.capitalize %> basis.</li>
    <li>Book rent starting date : <%= @exchange.starting_date.to_date %></li>
    <% if @exchange.package == "semester" %>
      <li>Book rent ending date : End of the Semester.</li>
    <% else %>
      <li>Book rent ending date : <%= @exchange.ending_date.to_date %></li>
    <% end %>
  <% end %>
</ul>
Here is the <%= @exchange.package == "buy" ? "buyer's" : "borrower's" %> contact info. And that is also available in your lend/sold book list too.
<br/>
<h5><%= @exchange.package == "buy" ? "Buyer's" : "Borrower's" %> info:</h5>
<ul>
  <li>Name: <%= @borrower.name %></li>
  <li>Email : <%= @borrower.email %></li>
  <li>Phone : <%= @borrower.phone %></li>
  <li>Facebook profile : <%= @borrower.facebook %></li>
</ul>
<br/>
<br/>
<% unless @exchange.package == "buy" %>
  Please inform us when the renting period is over and the book is received or not.
  Inform us timely that if the borrower doesn't return your book we will return you the full book price along with your renting charge. This book's price will be decided from common book selling services available from internet.
<% end %>
<br/>
<br/>
You can see your lend/sold books list by clicking this <%= link_to "link", @url %>
<br/>
Thank you for using Campuswise book <%= @exchange.package == "buy" ? "selling" : "renting" %> service.<br/>
<br/>
Have a great day!
<br/>
