Hello <%= @user.name %>,<br/>
<br/>
Congratulation,<br/>
You have successfully lended the book titled : " <%= @book.title %>" and payment amount of $<%= @exchange.amount  %> was charged from borrower's account.<br/>
<br/>
Here is your summary:
<br/>
<ul>
  <li>Book title : <%= @book.title %></li>
  <li>Book publisher : <%= @book.publisher %></li>
  <li>Book authors : <%= @book.author %></li>
  <li>Book ISBN : <%= @book.isbn %></li>
  <li>Book rented in : <%= @exchange.package.capitalize %> basis.</li>
  <li>Book rent starting date : <%= @exchange.starting_date.to_date %></li>
  <% if @exchange.package == "semister" %>
    <li>Book rent ending time : End of the Semester.</li>
  <% else %>
    <li>Book rent ending date : <%= @exchange.ending_date.to_date %></li>
  <% end %>
</ul>
Here is the borrowers contact info. And that is also available in your lended book list too.
<br/>
<h5>Borrowers info:</h5>
<ul>
  <li>Name: <%= @borrower.name %></li>
  <li>Email : <%= @borrower.email %></li>
  <li>Phone : <%= @borrower.phone %></li>
  <li>Facebook profile : <%= @borrower.facebook %></li>
</ul>
<br/>
<br/>
Please inform us when the renting period is over and the book yet not received.
<br/>
<br/>
You can see your lended books list by clicking this <%= link_to "link", @url %>
<br/>
Thank you for using Campuswise book renting service.<br/>
<br/>
Have a great day!
<br/>
