Hello <%= @user.name %>,<br/>
<br/>
Congratulation,<br/>
You have successfully <%= @exchange.package == "buy" ? "purchased" : "borrowed" %> the book titled : " <%= @book.title %> " and payment amount of <%= number_to_currency(@exchange.amount.to_f, :prescision => 2)  %> was charged from your account.<br/>
<br/>
Here is your <%= @exchange.package == "buy" ? "purchase" : "borrow" %> details:
<br/>
<ul>
  <li>Book title : <%= @book.title %></li>
  <li>Book publisher : <%= @book.publisher %></li>
  <li>Book authors : <%= @book.author %></li>
  <li>Book ISBN : <%= @book.isbn %></li>
  <% unless @exchange.package == "buy"  %>
    <li>Book rented in : <%= @exchange.package.capitalize %> basis.</li>
    <li>Book rent starting date : <%= @exchange.starting_date.to_date %></li>
    <% if @exchange.package == "semester" %>
      <li>Book rent ending time : End of the Semester.</li>
    <% else %>
      <li>Book rent ending date : <%= @exchange.ending_date.to_date %></li>
    <% end %>
  <% end %>
</ul>
Here is the <%= @exchange.package == "buy" ? "seller's" : "borrower's" %> contact info. And that is also available in your borrowed/sold book list too.
<br/>
<h5><%= @exchange.package == "buy" ? "Seller's" : "Borrower's" %> info:</h5>
<ul>
  <li>Name: <%= @owner.name %></li>
  <li>Email : <%= @owner.email %></li>
  <li>Phone : <%= @owner.phone %></li>
  <li>Facebook profile : <%= @owner.facebook %></li>
</ul>
<br/>
<br/>
<% unless @exchange.package == "buy"  %>
  Please return the book to the owner after the renting period is over.
  <br/>
  Please also note if you don't return the book timely after the renting period is over we will charge you the full book price <%= number_to_currency(@book.purchase_price, :prescision => 2) %>.
  To avoid such kind of situation please return this book to the owner.
  <br/>
<% end %>
You can see your borrowed books list by clicking this <%= link_to "link", @url %>
<br/>
Thank you for using Campuswise book <%= @exchange.package == "buy" ? "selling" : "renting" %> service.<br/>
<br/>
Have a great day!
<br/>