<h3>Payment Method</h3>
<br/>

<% if @payment_method.errors.any? %>
  <div id="error_explanation" class="alert alert-error">
    <h4>
      Please fill correctly following <%= pluralize(@payment_method.errors.count, "field") %>.
    </h4>
    <ul>
      <% @payment_method.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @payment_method do |f| %>

  <div class="control-group">
    <%= f.label :payment_method_type %>
    <div class="controls">
      <%= f.select :payment_method_type, options_for_select(Constant::PAYMENT_METHOD_TYPE), :prompt => "Please Select" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :bank_name %>
    <div class="controls">
      <%= f.text_field :bank_name, :name => nil %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :bank_branch %>
    <div class="controls">
      <%= f.text_field :bank_branch, :name => nil %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :account_holder_name %>
    <div class="controls">
      <%= f.text_field :account_holder_name, :name => nil %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :account_number %>
    <div class="controls">
      <%= f.text_field :account_number,:name => nil %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :credit_card_type, "Credit Card Type" %>
    <div class="controls">
      <%= f.select :credit_card_type, options_for_select(Constant::CREDIT_CARD_TYPE) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :card_number %>
    <div class="controls">
      <%= f.text_field :card_number, :name => nil %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Submit", :class => 'btn btn-primary' %>
  </div>

<% end %>