<fieldset>
  <legend>
    <h4>How you want to borrow this book?</h4>
  </legend>

  <%= form_for @exchange do |f| %>
    <% if @exchange.errors.any? %>
      <div id="error_explanation" class="alert alert-error">
        <h4>
          Please fill correctly following <%= pluralize(@exchange.errors.count, "field") %>.
        </h4>
        <ul>
          <% @exchange.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :book_id, :value => @book.id %>

    <div class="row span12">

      <% if @book.loan_daily.present? %>
        <div class="span3">
          <div class="control-group">
            <%= f.label :package, "Daily", :class => 'control-label' %>
            <div class="controls">
              <%= f.radio_button :package , 'daily', :class => 'radio'%>
            </div>
          </div>
        </div>
      <% end %>

      <% if @book.loan_weekly.present? %>
        <div class="span3">
          <div class="control-group">
            <%= f.label :package, "Weekly", :class => 'control-label' %>
            <div class="controls">
              <%= f.radio_button :package ,'weekly' ,:class => 'radio'%>
            </div>
          </div>
        </div>
      <% end %>

      <% if @book.loan_monthly.present? %>
        <div class="span3">
          <div class="control-group">
            <%= f.label :package, "Monthly", :class => 'control-label' %>
            <div class="controls">
              <%= f.radio_button :package ,'monthly' ,:class => 'radio'%>
            </div>
          </div>
        </div>
      <% end %>

      <% if @book.loan_semister.present? %>
        <div class="span3">
          <div class="control-group">
            <%= f.label :package, "Full semester", :class => 'control-label' %>
            <div class="controls">
              <%= f.radio_button :package ,'semister'%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <br/>
    <br/>
    <div class="row span12 exchange_amount" style="display:none">
      <legend>
        <h5>Please Specify the duration</h5>
      </legend>
      <div class="span10 offest2" style="text-align:center">
        <div class="control-group">
          <%= f.label :duration, "I want to borrow this book from date", :class => 'control-label' %>
          <div class="controls">
            <%= f.date_select :starting_date, {}, :class => 'span3 selectpicker' %>
          </div>
          To
          <div class="controls">
            <%= f.number_field :duration,:class => 'input-small number_field'%><div class="amount_text"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="exchange_submit_section" style="display:none">
      <%= f.submit "Submit", :class => 'btn btn-large btn-primary' %>
      <div class="amount_error" style="color:red"></div>
    </div>

  <% end %>
</fieldset>