You can manage your borrow requests Here.

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Borrowed / Purchased Books (<%= "#{@borrowed_books.count}" %>)</a></li>
    <li><a href="#tab4" data-toggle="tab">Lend / Sold (<%= "#{@lended.count}" %>)</a></li>
    <li><a href="#tab2" data-toggle="tab">Waiting for Owner's Approval (<%= "#{@pending_for_owner.count}" %>)</a></li>
    <li><a href="#tab3" data-toggle="tab">Waiting for Your Approval (<%= "#{@pending_for_me.count}" %>)</a></li>
    <li><a href="#tab5" data-toggle="tab">Not returned / Not paid (<%= "#{@not_returned.count}" %>)</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <% if @borrowed_books.any? %>
        <%= will_paginate @borrowed_books %>
        <table class="table table-hover table-bordered">
          <thead>
          <th>Book Title</th>
          <th>Borrowed / Purchased</th>
          <th>Borrowed Date</th>
          <th>Returning Date</th>
          <th>Seller / Lender's contact info</th>
          <th>Book Action</th>
          </thead>
          <% @borrowed_books.each do |exchange| %>
            <% @book = Book.find(exchange.book_id) %>
            <tbody>
              <tr>
                <td><%= @book.title %></td>
                <td><%= exchange.package == "buy" ? "Purchased" : "Borrowed" %></td>
                <% unless exchange.package == "buy"  %>
                  <td><%= exchange.created_at.strftime("%m/%d/%Y") %></td>
                  <td><%= exchange.ending_date.strftime("%m/%d/%Y") %></td>
                <% else %>
                  <td>N/A</td>
                  <td>N/A</td>
                <% end %>
                <td>
                  <ul>
                    <li>Name : <%= User.find(@book.user_id).name %></li>
                    <li>Email: <%= User.find(@book.user_id).email %></li>
                    <li>Phone: <%= User.find(@book.user_id).phone %></li>
                    <li>Facebook: <%= User.find(@book.user_id).facebook %></li>
                  </ul>
                </td>
                <td style="text-align:center">
                  <% if exchange.received.blank? %>
                    <%= link_to "Received", status_exchange_path(exchange.id, :status => "received"), :class => "btn btn-mini btn-primary"  %>
                  <% else %>
                    <%= exchange.status == Exchange::STATUS[:returned] ? exchange.status : exchange.status == Exchange::STATUS[:not_returned] ? exchange.status : exchange.received %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          <% end %>
        </table>
      <% else %>
        Currently Empty.
      <% end %>
    </div>
    <div class="tab-pane" id="tab2">
      <% if @pending_for_owner.any? %>
        <%= will_paginate @pending_for_owner %>
        <table class="table table-hover table-bordered">
          <thead>
          <th>Book Title</th>
          <th>Request Sent At</th>
          <th></th>
          </thead>
          <% @pending_for_owner.each do |exchange| %>
            <% @book = Book.find(exchange.book_id) %>
            <tbody>
              <tr>
                <td><%= @book.title %></td>
                <td><%= exchange.created_at.strftime("%m/%d/%Y") %></td>
                <td style="text-align:center"><%= link_to "Show", book_path(@book), :class => "btn btn-mini btn-primary" %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
      <% else %>
        Currently Empty.
      <% end %>
    </div>
    <div class="tab-pane" id="tab3">
      <% if @pending_for_me.any? %>
        <%= will_paginate @pending_for_me %>
        <table class="table table-hover table-bordered">
          <thead>
          <th>Book Title</th>
          <th>Request for</th>
          <th>Request Received At</th>
          <th>Requester Name</th>
          <th></th>
          </thead>
          <% @pending_for_me.each do |exchange| %>
            <% @book = Book.find(exchange.book_id) %>
            <tbody>
              <tr>
                <td><%= @book.title %></td>
                <td><%= exchange.package == "buy" ? "Purchase" : "Borrow" %></td>
                <td><%= exchange.created_at.strftime("%m/%d/%Y") %></td>
                <td><%= User.find(exchange.user_id).name %></td>
                <td style="min-width:145px;">
                  <%  if exchange.counter_offer.present? %>
                    <%= link_to "View", before_exchange_path(exchange), :class => "btn btn-mini btn-primary fancybox fancybox.ajax" %>
                    <%= link_to "Deny", exchange_path(exchange), :method => :delete, :class => "btn btn-mini btn-primary" %>
                  <% else %>
                    <%= link_to "Approve", exchange_path(exchange.id), :method => :put, :class => "btn btn-mini btn-primary" %>
                    <%= link_to "Deny", exchange_path(exchange.id), :method => :delete, :class => "btn btn-mini btn-primary" %>
                    <%= link_to "Show", book_path(@book), :class => "btn btn-mini btn-primary" %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          <% end %>
        </table>
      <% else %>
        Currently Empty.
      <% end %>
    </div>

    <div class="tab-pane" id="tab4">
      <% if @lended.any? %>
        <%= will_paginate @lended %>
        <table class="table table-hover table-bordered">
          <thead>
          <th>Title</th>
          <th>Lend / Sold</th>
          <th>Borrowed Date</th>
          <th>Returning Date</th>
          <th>Borrower / Buyer info</th>
          <th>Action</th>
          </thead>
          <% @lended.each do |exchange| %>
            <% @book = Book.find(exchange.book_id) %>
            <tbody>
              <tr>
                <td><%= @book.title %></td>
                <td><%= exchange.package == "buy" ? "Sold" : "Lend"  %></td>
                <% unless exchange.package == "buy"  %>
                  <td><%= exchange.created_at.strftime("%m/%d/%Y") %></td>
                  <td><%= exchange.ending_date.strftime("%m/%d/%Y") %></td>
                <% else %>
                  <td>N/A</td>
                  <td>N/A</td>
                <% end %>
                <td>
                  <ul>
                    <li>Name : <%= User.find(exchange.user_id).name %></li>
                    <li>Email: <%= User.find(exchange.user_id).email %></li>
                    <li>Phone: <%= User.find(exchange.user_id).phone %></li>
                  </ul>
                </td>
                <td>
                  <% if exchange.dropped_off.blank? %>
                    <%= link_to "Dropped Off", status_exchange_path(exchange.id, :status => "dropped_off"), :class => "btn btn-mini btn-primary"  %>
                  <% elsif exchange.package != "buy"  %>
                    <%= link_to "Returned", status_exchange_path(exchange.id, :status => "returned"), :class => "btn btn-mini btn-primary"  %>
                    <%= link_to "Not Returned", status_exchange_path(exchange.id,:status => "not_returned"), :class => "btn btn-mini btn-primary"  %>
                  <% else %>

                  <% end %>
                </td>
              </tr>
            </tbody>
          <% end %>
        </table>
      <% else %>
        Currently Empty.
      <% end %>
    </div>

    <div class="tab-pane" id="tab5">
      <% if @not_returned.any? %>
        <%= will_paginate @not_returned %>
        <table class="table table-hover table-bordered">
          <thead>
          <th>Title</th>
          <th>Lend / Sold</th>
          <th>Borrowed Date</th>
          <th>Returning Date</th>
          <th>Borrower / Buyer info</th>
          </thead>
          <% @not_returned.each do |exchange| %>
            <% @book = Book.find(exchange.book_id) %>
            <tbody>
              <tr>
                <td><%= @book.title %></td>
                <td><%= exchange.package == "buy" ? "Sold" : "Lend"  %></td>
                <% unless exchange.package == "buy"  %>
                  <td><%= exchange.created_at.strftime("%m/%d/%Y") %></td>
                  <td><%= exchange.ending_date.strftime("%m/%d/%Y") %></td>
                <% else %>
                  <td>N/A</td>
                  <td>N/A</td>
                <% end %>
                <td>
                  <ul>
                    <li>Name : <%= User.find(exchange.user_id).name %></li>
                    <li>Email: <%= User.find(exchange.user_id).email %></li>
                    <li>Phone: <%= User.find(exchange.user_id).phone %></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          <% end %>
        </table>
      <% else %>
        Currently Empty.
      <% end %>
    </div>
  </div>
</div>
