<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<p>
  <b> School Name:</b>
  <%= @user.school.name.capitalize %>
</p>


<p>
  <b> Name:</b>
  <%= @user.name %>
</p>

<p>
  <b> Email:</b>
  <%= @user.email %>
</p>

<p>
  <b> Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b> Facebook Profile:</b>
  <%= @user.facebook %>
</p>