<h1>Profile Page</h1>

School Name: <%= @user.school.name %><br/>
Email: <%= @user.email %><br/>
Name: <%= @user.name %><br/>
Phone: <%= @user.phone %><br/>
Facebook Profile: <%= @user.facebook %><br/>

<%= link_to "Edit", edit_user_path(@user) %><br/>
