<% if @transactions.any? %>
  <table class="table table-hover table-bordered">
    <thead>
    <th colspan="3">Description</th>
    <th style="text-align: right">Amount</th>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td colspan="3"><%= transaction.description %></td>
        <td style="text-align: right"><%= transaction.transactable_type == "Exchange" ? "+ " : "- " %>$<%= transaction.amount.to_f %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3" style="text-align: right">Total Credit</td>
      <td style="text-align: right">+ $<%= @user.credit.present? ? "#{@user.credit}" : "00.0" %></td>
    </tr>
    <tr>
      <td colspan="3" style="text-align: right">Total Withdraw</td>
      <td style="text-align: right">- $<%= @user.debit.present? ? "#{@user.debit}" : "00.0" %></td>
    </tr>
    <tr>
      <td colspan="3" style="text-align: right">Total Balance</td>
      <td style="text-align: right">$<%= @user.balance %></td>
    </tr>
  </tbody>
  </table>
<% else %>
  <h4>Currently Empty</h4>
<% end %>