<% if @transactions.any? %>
<%= link_to "Give Me My Money", new_withdraw_request_path, :class => 'btn btn-primary' %>
<br/><br/>
  <table class="table table-hover table-bordered">
    <thead>
    <th colspan="3">Description</th>
    <th style="text-align: right">Amount</th>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td colspan="3"><%= transaction.description %></td>
        <td style="text-align: right"><%= transaction.transactable_type == "Exchange" ? "+ " : "- " %><%= number_to_currency(transaction.amount.to_f, :prescision => 2) %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3" style="text-align: right; background-color: wheat">Total Credit (After deducting CampusWise 10% service fee)</td>
      <td style="text-align: right; background-color: wheat">+ <%= @user.credit.present? ? "#{number_to_currency(@user.credit, :prescision => 2)}" : "00.0" %></td>
    </tr>
    <tr>
      <td colspan="3" style="text-align: right">Total Withdraw</td>
      <td style="text-align: right">- <%= @user.debit.present? ? "#{number_to_currency(@user.debit, :prescision => 2)}" : "00.0" %></td>
    </tr>
    <tr>
      <td colspan="3" style="text-align: right">Total Balance</td>
      <td style="text-align: right"><%= number_to_currency(@user.balance, :prescision => 2) %></td>
    </tr>
  </tbody>
  </table>
<% else %>
  <h4>Currently Empty</h4>
<% end %>