<div class="container-fluid" id="books-slider">
  <div class="container">
    <div class="row span11 offset1">
      <div class="row" id="books-slider-head">
        <div class="span2 nav-link active">
          <a href="javascript:;">JUST NOW</a>
        </div>
        <div class="span2 nav-link">
          <a href="javascript:;">POPULAR</a>
        </div>
      </div>
      <div class="row">
        <div class="carousel slide" id="myCarousel">
          <div class="carousel-inner">
            <% if @recent_books.limit(3).any? %>
              <div class="item active">
                <ul class="thumbnails offset1">
                  <% @recent_books.limit(3).each_with_index do |book, index| %>
                      <li class="span3 <%= "offset1" if index == 0 %>">
                        <div class="slide-content">
                          <div class="slider_book_image span4">
                            <%= image_tag book.image_url(:book) %>
                          </div>
                          <div class="slider_book_text span8">
                            <p class="title">
                              <%= book.title.truncate(50) %>
                            </p>
                            <p class="author">
                              by <%= book.author.truncate(50) %>
                            </p>

                          </div>
                        </div>
                      </li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <% if @recent_books.limit(3).offset(3).any? %>
                <div class="item">
                  <ul class="thumbnails offset1">
                    <% @recent_books.limit(3).offset(3).each_with_index do |book, index| %>
                      <li class="span3 <%= "offset1" if index == 0 %>">
                        <div class="slide-content">
                          <div class="slider_book_image span4">
                            <%= image_tag book.image_url(:book) %>
                          </div>
                          <div class="slider_book_text span8">
                            <p class="title">
                              <%= book.title.truncate(50) %>
                            </p>
                            <p class="author">
                              by <%= book.author.truncate(50) %>
                            </p>

                          </div>
                        </div>
                      </li>

                    <% end %>
                  </ul>
                </div>
              <% end %>
              <% if @recent_books.limit(3).offset(6).any? %>
                <div class="item">
                  <ul class="thumbnails offset1">
                    <% @recent_books.limit(3).offset(6).each_with_index do |book, index| %>
                      <li class="span3 <%= "offset1" if index == 0 %>">
                        <div class="slide-content">
                          <div class="slider_book_image span4">
                            <%= image_tag book.image_url(:book) %>
                          </div>
                          <div class="slider_book_text span8">
                            <p class="title">
                              <%= book.title.truncate(50) %>
                            </p>
                            <p class="author">
                              by <%= book.author.truncate(50) %>
                            </p>

                          </div>
                        </div>
                      </li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </div>
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
          </div>
        </div>
      </div>
    </div>
  </div>