<ul class="nav nav-pills well">
  <li class="<%= "active" if current_page?(dashboard_path) %>">
    <%= link_to "Dashboard", dashboard_path %>
  </li>
  <li class="dropdown <%= "active" if current_page?(user_path(current_user)) || current_page?(edit_user_path(current_user)) || current_page?(change_password_user_path(current_user)) %>">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
      Account Information
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="<%= "active" if current_page?(user_path(current_user)) %>">
        <%= link_to "User Profile", user_path(current_user)%>
      </li>
      <li class="<%= "active" if current_page?(edit_user_path(current_user)) %>">
        <%= link_to "Edit User Profile", edit_user_path(current_user)  %>
      </li>
      <li class="<%= "active" if current_page?(change_password_user_path(current_user)) %>">
        <%= link_to "Change Password", change_password_user_path(current_user)  %>
      </li>
    </ul>
  </li>

  <li class="dropdown <%= "active" if (current_page?(new_book_path) and params[:requested].blank?) ||  current_page?(requested_books_path) %>">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
      Lend
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="<%= "active" if current_page?(new_book_path) and params[:requested].blank? %>">
        <%= link_to "Add a New Book", new_book_path %>
      </li>
      <%#*<li class="<%= "active" if current_page?(books_path) %>
        <%#= link_to "My books", books_path %>
      <%#*</li>%>
      <li class="<%= "active" if current_page?(requested_books_path) %>">
        <%= link_to "Book Requests", requested_books_path %>
      </li>
    </ul>
  </li>

  <li class="dropdown <%= "active" if current_page?(search_exchanges_path) || current_page?(borrow_requests_path) || current_page?(new_book_path(:requested => true)) %>">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
      Borrow
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="<%= "active" if current_page?(search_exchanges_path) %>">
        <%= link_to "Borrow a Book", search_exchanges_path %>
      </li>
      <li class="<%= "active" if current_page?(borrow_requests_path) %>">
        <%= link_to "Manage Borrow Requests", borrow_requests_path %>
      </li>
      <li class="<%= "active" if current_page?(new_book_path) and params[:requested].present? %>">
        <%= link_to "Request a Book", new_book_path(:requested => true) %>
      </li>
    </ul>
  </li>

  <li class="dropdown <%= "active" if current_page?(books_path) || current_page?(campus_bookshelf_books_path) %>">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
      Bookshelf
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="<%= "active" if current_page?(books_path) %>">
        <%= link_to "My Bookshelf", books_path %>
      </li>
      <li class="<%= "active" if current_page?(campus_bookshelf_books_path) %>">
        <%= link_to "Campus Bookshelf", campus_bookshelf_books_path %>
      </li>
    </ul>
  </li>

  <li class="dropdown <%= "active" if controller.controller_name == "billing_settings" %>">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
      Payment Information
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <% if current_user.billing_setting.present? %>
        <li class="<%= "active" if current_page?(billing_setting_path(current_user.billing_setting)) %>">
          <%= link_to "Payment Settings", billing_setting_path(current_user.billing_setting) %>
        </li>
      <% else %>
        <li class="<%= "active" if current_page?(new_billing_setting_path) %>">
          <%= link_to "Payment Settings", new_billing_setting_path %>
        </li>
      <% end %>
      <% if current_user.payment_method.present? %>
        <li class="<%= "active" if current_page?(payment_method_path(current_user.payment_method)) %>">
          <%= link_to "Payment Method", payment_method_path(current_user.payment_method) %>
        </li>
      <% else %>
        <li class="<%= "active" if current_page?(new_payment_method_path) %>">
          <%= link_to "Payment Method", new_payment_method_path %>
        </li>
      <% end %>
      <li>
        <%= link_to "My Wallet", wallet_user_path(current_user) %>
      </li>
      <li>
        <%= link_to "Withdraw Balance", withdraw_requests_path %>
      </li>
    </ul>
  </li>
</ul>