<div class="span3 well">
  <div class="nav nav-list">
    <li class="nav-header">Account Information</li>
    <li><%= link_to "User Profile", user_path(current_user)  %></li>
    <li><%= link_to "Edit User Profile", edit_user_path(current_user)  %></li>
    <li class="nav-header">Books Information</li>
    <li><%= link_to "My books", books_path %></li>
    <li><%= link_to "Borrow Request", '#' %></li>
    <li class="nav-header">Payment Information</li>
    <li><%= link_to "Total Balance", '#' %></li>
    <li><%= link_to "Withdraw balance", '#' %></li>
  </div>
</div>