<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="span10 offset1 pull-center">
      <%= link_to root_path, :class => "brand" do %>
        <%= image_tag "logo.png", :alt => "logo" %>
      <% end %>

      <% @school ||= (current_user.school if current_user) || nil %>
      <% if @school %>
        <% if current_user %>
          <ul class="nav pull-right">
            <li class="<%= "active" if current_page?(current_user) %>">
              <%= link_to "Profile", current_user %></li>
            <li>
              <%= link_to "Logout", logout_path %></li>
          </ul>
        <% else %>
          <ul class="nav pull-right">
            <li class="<%= "active" if current_page?(new_user_path) %>">
              <%= link_to "Sign Up", new_user_path(:school => @school.id ) %></li>
            <li class="<%= "active" if current_page?(login_path) %>">
              <%= link_to "Sign In", login_path(:school => @school.id) %></li>
          </ul>
        <% end %>
        <p class="navbar-text school_name_navbar offset0"><%= @school.name %></p>
      <% end %>
    </div>
  </div>
</div>