<%= form_for @book, :html => { :class => "form-horizontal #{"edit_book" unless @book.new_record?}", :multipart => true } do |f| %>
  <fieldset>
    <legend>
      <%= controller.action_name.capitalize %>
      Book
    </legend>

    <% if @book.errors.any? %>
      <div id="error_explanation" class="alert alert-error">
        <h4>
          Please fill correctly following <%= pluralize(@book.errors.count, "field") %>.
        </h4>
        <ul>
          <% @book.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div style="width:inherit">Type a keyword related to your books and you will get some quick suggestion, If you don't find your desired book then click on the search button to get more results.</div>
    <br/>
    <%= form_tag search_path, :class => "form-horizontal", :remote => true do %>
      <div class="control-group">
        <div class="controls">
          <%= text_field_tag :value, nil ,:placeholder => "Enter Title, Author or ISBN", :class => 'text_field search_field' %>
          <%= submit_tag "Search", :name => 'search',:class => "btn btn-primary search_button" %>
        </div>
      </div>
    <% end %>
    <legend>Book Info</legend>
    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title , :class => 'text_field'%>
      </div>
    </div>

    <% if @book.remote_image.blank? %>
      <div class="control-group">
        <%= f.label :image, :class => 'control-label' %>
        <div class="controls">
          <%= f.file_field :image, :class => 'text_field uniform' %>
        </div>
      </div>
    <% end %>


    <div class="control-group">
      <div class="controls">
        <div class="hidden_image"  style="<%= "display:none" unless @book.remote_image.present? %>">
          <img alt="image" src="<%= @book.remote_image %>"></img>
          <%= hidden_field_tag :remote_url, @book.remote_image.present? ? @book.remote_image : "" %>
        </div>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :author, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :author, :class => 'text_field'%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :isbn, "ISBN", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :isbn, :class => 'text_field'%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :publisher, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :publisher, :class => 'text_field'%>
      </div>
    </div>


    <% unless @book.requested == true or @requested_book == true %>

      <legend>Availability</legend>
      <div class="control-group">
        <%= f.label :available, "Available Now", :class => 'control-label' %>
        <div class="controls">
          <%= f.check_box :available, :class => 'check_box' %>
        </div>
      </div>

      <div class="control-group available_for" style="display:none">
        <%= f.label :available_for, :class => 'control-label' %>
        <div class="controls">
          <div class="span3">
            <%= f.radio_button :available_for,Book::AVAILABLE_FOR[:rent], :class => 'radio available_type' %><span class="available_type_text">Rent Only</span><div class="clear"></div>
          </div>
          <div class="span3">
            <%= f.radio_button :available_for,Book::AVAILABLE_FOR[:sell], :class => 'radio available_type' %><span class="available_type_text">Sell Only</span><div class="clear"></div>
          </div>
          <div class="span3">
            <%= f.radio_button :available_for,Book::AVAILABLE_FOR[:both], :class => 'radio available_type' %><span class="available_type_text">Both</span><div class="clear"></div>
          </div>
        </div>
      </div>

      <div class="available_dates" style="display:none">
        <div class="control-group">
          <%= f.label :available_from, :class => 'control-label' %>
          <div class="controls">
            <%= f.date_select :available_from, {}, :class => 'span3 selectpicker' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :returning_date, "Available Till", :class => 'control-label' %>
          <div class="controls">
            <%= f.date_select :returning_date, {}, :class => 'span3 selectpicker' %>
          </div>
        </div>
      </div>
      
      <div class="purchase_price" style="display:none">
        <legend>Book Purchase Price (in USD)</legend>
        This will be the selling rate and this amount will be charged to the book borrower along with your loan amount if the book is not returned to you.
        <div class="control-group">
          <%= f.label :price, "Book Purchase Price", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :price, :class => 'text_field' %>
          </div>
        </div>
      </div>
      
      <div class="loan_rates" style="display:none">
        <legend>Loan Rates (in USD)</legend>
        <div class="loan_error" style="color:red"></div>
        <div class="control-group">
          <h5><%= f.label :loan_daily, "Daily", :class => 'control-label' %></h5>
          <div class="controls">
            <%= f.number_field :loan_daily, :class => 'number_field' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :loan_weekly, "Weekly", :class => 'control-label' %>
          <div class="controls">
            <%= f.number_field :loan_weekly, :class => 'number_field'%>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :loan_monthly, "Monthly", :class => 'control-label' %>
          <div class="controls">
            <%= f.number_field :loan_monthly, :class => 'number_field' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :loan_semester, "Full Semester", :class => 'control-label' %>
          <div class="controls">
            <%= f.number_field :loan_semester, :class => 'number_field' %>
          </div>
        </div>
      </div>

    <% else @requested_book == true %>
      <%= f.hidden_field :requested, :value => true %>
    <% end %>

    <div class="form-actions">
      <%= f.submit "Submit", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        books_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>

<style>
  .ui-autocomplete-loading {
    background:url('/assets/ui-anim_basic_16x16.gif') no-repeat right center;
  }
</style>
