<div class="page-header">
  <h1>Book Details</h1>
</div>

<div class="span4 ">
  <p>
    <b> Title:</b>
    <%= @book.title %>
  </p>

  <p>
    <b> Author:</b>
    <% if params[:google_book_id] %>
      <%= @book.authors %>
    <% else %>
      <%= @book.author %>
    <% end %>
  </p>

  <p>
    <b> Publisher:</b>
    <%= @book.publisher %>
  </p>

  <p>
    <b> ISBN:</b>
    <%= @book.isbn %>
  </p>
  <% if params[:google_book_id] %>
    <%= link_to "Add this Book", new_book_path(:google_book_id => @book.id), :class => 'btn btn-primary' %>
  <% elsif params[:db_book_id] %>
    <%= link_to "Add this Book", new_book_path(:book_id => @book.id), :class => 'btn btn-primary' %>
  <% end %>
</div>

<div class="span3 offset1">
  <p>
    <% if params[:google_book_id]  %>
      <% if @book.image_link.present? %>
        <%= image_tag @book.image_link(:zoom => 1) %>
      <% else %>
        <%= image_tag 'no_book_image.jpeg', :class => "no_book_image"  %>
      <% end %>
    <% elsif params[:db_book_id] %>
      <% if @book.image.present? %>
        <%= image_tag @book.image_url %>
      <% else %>
        <%= image_tag 'no_book_image.jpeg', :class => "no_book_image"  %>
      <% end %>
    <% end %>
  </p>
</div>