<div class="page-header">
  <h1>Book Details</h1>
</div>

<div class="span5">
  <p>
    <b> Title:</b>
    <%= @book.title %>
  </p>

  <p>
    <b> Author:</b>
    <%= @book.author %>
  </p>

  <p>
    <b> Publisher:</b>
    <%= @book.publisher %>
  </p>

  <p>
    <b> ISBN:</b>
    <%= @book.isbn %>
  </p>
  <% if @book.available.present?  %>
    <p>
      <b> Available Now:</b>
      <%= @book.available == false ? "No" : "Yes" %>
    </p>
  <% end %>
  <% unless @book.available_for == nil or @book.available == false or @book.requested == true  %>
    <p>
      <b>This book is available for : </b>
      <%= @book.available_for == Book::AVAILABLE_FOR[:both] ? "Sell and Rent" : @book.available_for.capitalize %>
    </p>
    <% unless @book.available_for == Book::AVAILABLE_FOR[:sell] %>
      <p>
        <b> Loan Rates</b>
      <ul>
        <% if @book.loan_daily.present? %>
          <li>Daily : <%= number_to_currency(@book.loan_daily.to_f, :prescision => 2) %></li>
        <% end %>
        <% if @book.loan_weekly.present? %>
          <li>Weekly : <%= number_to_currency(@book.loan_weekly.to_f, :prescision => 2) %></li>
        <% end %>
        <% if @book.loan_monthly.present? %>
          <li>Monthly : <%= number_to_currency(@book.loan_monthly.to_f, :prescision => 2) %></li>
        <% end %>
        <% if @book.loan_semester.present? %>
          <li>Full Semester : <%= number_to_currency(@book.loan_semester.to_f, :prescision => 2)%></li>
        <% end %>
      </ul>
    </p>
  <% end %>
  <p>
    <b>
      <%= @book.available_for == Book::AVAILABLE_FOR[:rent] ? "Buy Back Price:" : "Book Selling Price:" %>
    </b>
    <%= number_to_currency(@book.price.to_f, :prescision => 2) %>
  </p>

  <% unless @book.available_for == Book::AVAILABLE_FOR[:sell] %>
    <p>
      <b> Available from:</b>
      <%= @book.available_from %>
    </p>

    <p>
      <b> Available Till:</b>
      <%= @book.returning_date %>
    </p>
  <% end %>
<% end %>
<% if current_user and @book.user_id == current_user.id %>
  <div class="form-actions">
    <% if @book.lended == false %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_book_path(@book), :class => 'btn' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
        book_path(@book),
        :method => 'delete',
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
        :class => 'btn btn-danger' %>
    <% end %>
  </div>
<% end %>
</div>
<div class="span5 offset1">
  <p>
    <%  if @book.image.present?  %>
      <%= image_tag @book.image_url%>
    <% else %>
      <%= image_tag 'no_book_image.jpeg', :class => "no_book_image"  %>
    <% end %>
  </p>
  <% unless @book.requested == true %>
    <% if current_user and @book.user_id == current_user.id and @book.lended == true %>
      <h5 style="color: red">This book is already sold or borrowed or in a borrow process. You can't edit this book now.</h5>
    <% end %>

    <% if current_user.present? %>
      <% unless current_user.not_eligiable_to_borrow_or_buy(@book) %>
        <%= link_to('Borrow This Book', borrow_book_path(@book), :class => 'btn btn-primary') if @book.for_rent? %>
        <br/><br/>
        <%= link_to('Buy This Book', buy_book_path(@book), :class => 'btn btn-primary') if @book.for_sell? %>
      <% end %>
    <% else %>
      <%= link_to('Borrow This Book', borrow_book_path(@book), :class => 'btn btn-primary') if @book.for_rent? %>
      <br/><br/>
      <%= link_to('Buy This Book', buy_book_path(@book), :class => 'btn btn-primary') if @book.for_sell? %>
    <% end %>
  <% end %>
</div>



<%# if current_user and @book.user != current_user and current_user.billing_setting.blank? and @book.available == true %>
<%#*<div class="span3 offset1">%>
<%#*<h4 style="color:red">Please provide your payment info in payment settings to borrow/buy this book.</h4>%>
<%#*</div>%>
<%# end %>



