<div class="row" id="slider-container">
  <div class="span12">
    <div id="slider">
      <% @school_images.each_with_index do |school_image, index| %>
        <%= image_tag(school_image.image.to_s, :class => "#{index == 0 ? 'show' : 'hide'}") %>
      <% end %>
    </div>

    <div class="renting_text_container">
      <%= image_tag 'renting_txt.png' %>
      <br />
      <div class="search_box">
        <%= form_tag find_path, :class => "form-horizontal" do %>
          <%= select_tag :school_id, options_for_select(School.all.collect{|s| [s.name, s.id]}), :class => "uniform" %>
          <%= submit_tag "Continue", :class => "btn btn-primary search_button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/books_slider" %>