<%= render 'shared/header' %>
<div class="renting_text_container">
  <div class="renting_text">
    <%= image_tag 'renting_txt.png' %><br />
    <div class="search_box" style="display: inline-block; width: 500px;">
      <%= form_tag find_path do %>
        <%= select_tag :id, options_for_select(School.all.collect{|s| [s.name, s.id]}), :class => "school_select" %>
        <%= submit_tag "Continue", :class => "btn btn-primary search_button" %>
      <% end %>
    </div>
  </div>
</div>