<%= render 'shared/header' %>

<div class="top_bg">
  <div class="topnavigation">
    <div class="container">
      <%= link_to home_path, :class => "logo" do %>
        <%= image_tag "logo.png", :alt => "logo" %>
      <% end %>
      <div class="sine_log" style="float:right; width:300px; margin-top:10px;">
        <div style="float:left; width:150px;">
          <div id="fb-root"></div>
          <script>
            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id))
                return;
              js = d.createElement(s);
              js.id = id;
              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
          </script>
          <div class="fb-like" data-href="https://www.facebook.com/CampusWise" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial"></div>
        </div>
        <div style="float:right; width:150px">
          <a href="https://twitter.com/campus_wise" class="twitter-follow-button" data-show-count="false">Follow @campus_wise</a>
          <script>
              !function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
              }
            }(document, "script", "twitter-wjs");
          </script>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="banner_bg">
      <%= image_tag "renting_txt.png", :alt => "rent" %>
    </div>
    <div class="title_auth">
      <form action="#" method="post" name="searchisbn" id="searchisbn">
        <div style="margin:auto; width:485px">

          <div class="search_txtbox">
            <select name="universityID" id="universityID" class="search_txtbox_in_firefox"   >
              <option style="color:#ccc" selected="selected" value="0">Select your School</option>
              <option value='28'  >Old Dominion University </option></select>
          </div>

        </div>
        <div class="search_btn" style="margin:4px 0 0 -138px"><%= image_tag "search_icon_back.png", :alt => "search", :onclick => "document.searchisbn.submit()" %></div>
      </form>
    </div>

  </div>
</div>

<div class="midle_img" id="nav">
  <div class="container_nv">
    <div class="navigation">
      <ul>
        <li><a href="#" style="color:#1D95CB" >JUST NOW</a></li>
        <li><a href="#"  >POPULAR</a></li>
      </ul>
    </div>

    <div id="headernav-outer" style="margin-top:0px; float:left">
      <ul id="mycarousel" class="jcarousel-skin-tango">
        <li>
          <div style="border-radius:5px; float:left; border:4px solid #FFF">
            <img src="" style="float:left" width="51" height="41" alt="" />
          </div>
          <div class="main_ty">
            <p class="style_hm"><a href="#">Financial and Manage</a></p>
            <p class="style_hs">by Peter Easton, Robert</p>
          </div>
        </li>
        <li>
          <div style="border-radius:5px; float:left; border:4px solid #FFF">
            <img src="http://bks9.books.google.com/books?id=KtwgPwAACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api" style="float:left" width="51" height="41" alt="" />
          </div>
          <div class="main_ty">
            <p class="style_hm"><a href="#">Algebra for College </a></p>
            <p class="style_hs">by Allen R. Angel, Rich</p>
          </div>
        </li>
        <li>
          <div style="border-radius:5px; float:left; border:4px solid #FFF">
            <img src="http://bks7.books.google.com/books?id=f3QTkgEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api" style="float:left" width="51" height="41" alt="" />
          </div>
          <div class="main_ty">
            <p class="style_hm"><a href="#">Writing Today</a></p>
            <p class="style_hs">by Richard Johnson-Shee</p>
          </div>
        </li>
        <li>
          <div style="border-radius:5px; float:left; border:4px solid #FFF">
            <img src="http://bks4.books.google.com/books?id=Pm9bOHzAatMC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api" style="float:left" width="51" height="41" alt="" />
          </div>
          <div class="main_ty">
            <p class="style_hm"><a href="#">Organic Chemistry</a></p>
            <p class="style_hs">by Joseph M. Hornback</p>
          </div>
        </li>
        <li>
          <div style="border-radius:5px; float:left; border:4px solid #FFF">
            <img src="http://bks4.books.google.com/books?id=Pm9bOHzAatMC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api" style="float:left" width="51" height="41" alt="" />
          </div>
          <div class="main_ty">
            <p class="style_hm"><a href="#">Organic Chemistry</a></p>
            <p class="style_hs">by Joseph M. Hornback</p>
          </div>
        </li>
        <li>
          <div style="border-radius:5px; float:left; border:4px solid #FFF">
            <img src="http://bks2.books.google.com/books?id=I_aaQQAACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api" style="float:left" width="51" height="41" alt="" />
          </div>
          <div class="main_ty">
            <p class="style_hm"><a href="#">Precalculus</a></p>
            <p class="style_hs">by J. S. Ratti, Marcus </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>