<div class="row" id="slider-container">
  <div class="span12">
    <div id="slider">
      <%= image_tag("1.jpg", :class => "show") %>
      <%= image_tag("2.jpg") %>
      <%= image_tag("3.jpg") %>
      <%= image_tag("4.jpg") %>
      <%= image_tag("5.jpg") %>
      <%= image_tag("6.jpg") %>
    </div>

    <div class="row" id="renting_text_row">
      <div class="span4"></div>
      <div class="span4">
        <div class="renting_text_container">
          <%= image_tag 'renting_txt.png' %>
          <br />
          <div class="search_box">
            <%= form_tag find_path do %>
              <%= text_field_tag :id, nil ,:placeholder => "Enter Title, Author or ISBN number" %>
              <%= submit_tag "Search", :class => "btn btn-primary search_button" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="span4"></div>
    </div>
  </div>
</div>
