<div class="row" id="slider-container">
  <div class="span12">
    <div id="slider">
      <% @school_images.each_with_index do |school_image, index| %>
        <%= image_tag(school_image.image.to_s, :class => "#{index == 0 ? 'show' : 'hide'}") %>
      <% end %>
    </div>

    <div class="renting_text_container">
      <%= image_tag 'renting_txt.png' %>
      <br />
      <div class="search_box">
        <%= form_tag available_books_path, :class => "form-horizontal", :method => :get do %>
          <%= text_field_tag :search, nil ,:placeholder => "Enter Title, Author or ISBN" %>
          <%= submit_tag "Search", :class => "btn btn-primary search_button" %>
        <% end %>
        <%= link_to "Campus Bookshelf", campus_bookshelf_books_path,:class => "btn btn-medium btn-info campus-book-shelf" %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/books_slider" %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#value').change(function(){
      myVar = setInterval(function(){myTimer()},1000);
    });

    prevValue = null;
      
    function myTimer(){
      inputValue = $("#value").val();
      if(inputValue == prevValue){
        clearInterval(myVar);
      }
      else{
        prevValue = inputValue
        ajax_call();
      }
    }
    function ajax_call(){
      inputValue = $("#value").val();
      $.ajax({
        type: 'GET',
        url: '/school-home',
        data: {
          value : inputValue
        },
        dataType: "script"
      });
    };
  });
</script>